html {
    background: url("../assets/tokyolights1.png") no-repeat center center fixed;  
    /* color: white; */
}
/* overlay2 (lists) */
.list-window {
  /*   background-color: #bfbfbf; */
    position: absolute;
    left:38%;
    padding: 0px 20px 0px 20px;
    border-radius: 10px;
    
  }
  /* Position the close button (top right corner) */
.lists-overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}
.lists-overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */   
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
  /* overflow-x: hidden; Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}
  /*table*/


 tr {
  border-radius: 20px;
}
.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-radius: 20px;

}
.styled-table thead tr {
  border-radius: 20px;
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}
.styled-table th,
.styled-table td {
  padding: 12px 15px;

}
.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
/*   border color */

}

.styled-table tbody tr:nth-of-type(even) {
  background-color: grey;

}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;

}

.styled-table:nth-child(odd){
background-color: #4C8BF5;
    border-radius: 20px;

color: #fff;
}







/* overlay */
.overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
}
.overlay-content {
  position: relative;
  top: 20%;
  width: 80%;
  text-align: center;
  margin-top: 30px;
  margin: auto;
  color: white;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  cursor: pointer;
  color: white;
}
.overlay .closebtn:hover {
  color: #ccc;
}
.box {
  width: 120px;
  height: 30px;
  border: 1px solid #999;
  font-size: 18px;
  color: #6ea1ff;
  background-color: rgb(45 45 45 / 90%);
  border-radius: 5px;
  box-shadow: 4px 4px #151515;
  border-color: black;
}
/* OVERLAY */



/* Navbar */
#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  .navbar-item {
    float: left;
  }
  .navbar-item a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .navbar-item a:hover:not(.active) {
    background-color: #111;
  }
  .active {
    background-color: #04AA6D;
  }
/* Home */
#logo {
    left: 35%;
    margin-top: 24%;
}

/* Search Results */

.anime-details {
    color: white;
}
/* html{
	background: url(https://images.pexels.com/photos/590478/pexels-photo-590478.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover; 
	background-size: 100% 100%;
  
  } */

body {
    /* background-color: #1b262c; */
    font-family: verdana;
    color: #0a043c;
  }
  /* body {
	background: #262a2b;
} */
.tilesWrap {
	padding: 100;
	margin: 50px auto;
	list-style: none;
	max-width: 90%;
    float: right;

	margin-right: 100px	;
}
.tilesWrap li {
	display: inline-block;
	width: 20%;
	min-width: 270px;
	max-width: 270px;
	padding: 80px 20px 40px;
	position: relative;
	vertical-align: top;
	margin: 10px;
	font-family: 'helvetica', san-serif;
	min-height: 65vh;
	max-height: 65vh;
	background: #262a2b;
	border: 1px solid #252727;
	text-align: left;
}
.tilesWrap li h2 {
	font-size: 14px;
	margin: 0;
	position: absolute;
	opacity: 0.2;
	top: 50px;
	right: 10px;
    color: white;
	transition: all 0.3s ease-in-out;
}
.tilesWrap li h3 {
	font-size: 20px;
	color: #b7b7b7;
	margin-bottom: 5px;
}
.tilesWrap li p {
	font-size: 16px;
	line-height: 18px;
	color: #b7b7b7;
	margin-top: 5px;
}
.tilesWrap li button {
	background: transparent;
	border: 1px solid #b7b7b7;
	padding: 10px 20px;
	color: #b7b7b7;
	border-radius: 3px;
	position: relative;
	transition: all 0.3s ease-in-out;
	transform: translateY(-40px);
	opacity: 0;
	cursor: pointer;
	overflow: hidden;
}
.tilesWrap li button:before {
	content: '';
	position: absolute;
	height: 100%;
	width: 120%;
	background: #b7b7b7;
	top: 0;
	opacity: 0;
	left: -140px;
	border-radius: 0 20px 20px 0;
	z-index: -1;
	transition: all 0.3s ease-in-out;
	
}
.tilesWrap li:hover button {
	transform: translateY(5px);
	opacity: 1;
}
.tilesWrap li button:hover {
	color: #262a2b;
}
.tilesWrap li button:hover:before {
	left: 0;
	opacity: 1;
}
.tilesWrap li:hover h2 {
	top: 0px;
	opacity: 0.6;
}

.tilesWrap li:before {
	content: '';
	position: absolute;
	top: -2px;
	left: -2px;
	right: -2px;
	bottom: -2px;
	z-index: -1;
	background: #fff;
	transform: skew(2deg, 2deg);
}
.tilesWrap li:after {
	content: '';
	
	width: 40%;
	height: 100%;
	left: 0;
	top: 0;
	background: rgba(255, 255, 255, 0.02);
}
.tilesWrap li:nth-child(even):before {
	background: #C9FFBF;
background: -webkit-linear-gradient(to right, #FFAFBD, #C9FFBF);
background: linear-gradient(to right, #FFAFBD, #C9FFBF);
}
.tilesWrap li:nth-child(2):before {
	background: #f2709c;
background: -webkit-linear-gradient(to right, #ff9472, #f2709c);
background: linear-gradient(to right, #ff9472, #f2709c);
}
.tilesWrap li:nth-child(3):before {
	background: #c21500;
background: -webkit-linear-gradient(to right, #ffc500, #c21500);
background: linear-gradient(to right, #ffc500, #c21500);
}
.tilesWrap li:nth-child(odd):before {
	background: #FC354C;
background: -webkit-linear-gradient(to right, #0ABFBC, #FC354C);
background: linear-gradient(to right, #0ABFBC, #FC354C);
}




#results_anchor {
	text-decoration:  none;
	color: white;
}
#no-results {
	position: fixed;
	top: 35%;
    text-align: center;
	left: 42%;
	font-size: 30px;
	color: white;
	font-weight: bold;
	background-color: rgb(0, 0, 0);
	border-radius: 15px;
	padding: 10px 10px;

}


.a-img {
	max-width: 100%;
}
/* Search Form */



*
{
    position: sticky;
    outline: none;
}

/* html, body
{
    height: 100%;
    min-height: 100%;
} */

body
{
    margin: 0;
}

.tb
{
    display: table;
    width: 100%;
}

.td
{
    display: table-cell;
    vertical-align: middle;
}

input, button
{
    color: #fff;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: transparent;
}

#cover
{
    position: fixed;
    top: 30%;
    left: 0;
    right: 0;
    width: 950px;
    padding: 35px;
    margin: 83px auto 0 auto;
    background-color: #253b79;
    border-radius: 20px;
    box-shadow: 0 10px 40px #004949, 0 0 0 20px #16004beb;
    transform: scale(0.6);
}

form
{
    height: 96px;
}

input[type="text"]
{
    width: 100%;
    height: 96px;
    font-size: 60px;
    line-height: 1;
}

input[type="text"]::placeholder
{
    color: #ffffff;
}

#s-cover
{
    width: 1px;
    padding-left: 35px;
}

#search-butt
{
    position: relative;
    display: block;
    width: 84px;
    height: 96px;
    cursor: pointer;
}

#s-circle
{
    position: relative;
    top: -8px;
    left: 0;
    width: 43px;
    height: 43px;
    margin-top: 0;
    border-width: 15px;
    border: 15px solid #fff;
    background-color: transparent;
    border-radius: 50%;
    transition: 0.5s ease all;
}

#search-butt span
{
    position: absolute;
    top: 68px;
    left: 43px;
    display: block;
    width: 45px;
    height: 15px;
    background-color: transparent;
    border-radius: 10px;
    transform: rotateZ(52deg);
    transition: 0.5s ease all;
}

button span:before, button span:after
{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 45px;
    height: 15px;
    background-color: #fff;
    border-radius: 10px;
    transform: rotateZ(0);
    transition: 0.5s ease all;
}

#s-cover:hover #s-circle
{
    top: -1px;
    width: 67px;
    height: 15px;
    border-width: 0;
    background-color: #fff;
    border-radius: 20px;
}

#s-cover:hover span
{
    top: 50%;
    left: 56px;
    width: 25px;
    margin-top: -9px;
    transform: rotateZ(0);
}

#s-cover:hover button span:before
{
    bottom: 11px;
    transform: rotateZ(52deg);
}

#s-cover:hover button span:after
{
    bottom: -11px;
    transform: rotateZ(-52deg);
}
#s-cover:hover button span:before, #s-cover:hover button span:after
{
    right: -6px;
    width: 40px;
    background-color: #fff;
}

#ytd-url {
  display: block;
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 10px 14px;
  margin: 20px;
  color: #fff;
  font-family: Nunito;
  font-size: 14px;
  text-decoration: none;
  background-color: #ff7575;
  border-radius: 4px;
  box-shadow: 0 10px 20px -5px rgba(255, 117, 117, 0.86);
  z-index: 125;
}

/* lists */

html{
    
    background: url("../assets/tokyolights1.png") no-repeat center center fixed;  
    background-size: auto; 
    background-size: 100% 100%;
  }
  
  body {
  
      font-family: verdana;
      color: #0a043c;
    }
    /* Title */
  #h1lists{
  
      text-align: center;
      color: #ffffff;
      font-family: verdana;
  }
    /* Comment */
  
  #list-list {
      width: 800px;
      text-align: center;
      margin: 8px auto;
      
  }
   
    
  
  
  /* Styles Table */
  
  #list-data {
    border-radius: 16px 16px 16px 16px;
  width: 100%;
  border-collapse: collapse;
  }
  #td-header {
    border-top-left-radius: 15px;
  }
  #list-data tr:first-child td:first-child{
    border-top-left-radius: 15px;
  }
  
  #list-data tr:first-child td:last-child {
    border-top-right-radius: 15px;
  }
  
  #list-data tr:last-child td:first-child {
    border-bottom-left-radius: 15px;
  }
  
  #list-data tr:last-child td:last-child {
    border-bottom-right-radius: 15px;
  }
  
  #list-data tr:nth-child(even){
        background-color: #0f4c75;
  }
  
  #list-data tr:nth-child(odd){
      background-color: #3282b8;
  }
  
  #list-data th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: center  ;
      background-color: #4CAF50;
      color: rgb(12, 105, 0);
  }
  
  #list-data td, #list_data th {
  padding: 8px;
  }
  #th-1 {
    border-top-left-radius: 15px;
  }
  #th-2 {
    border-top-right-radius: 15px;
  }
  
  #list-data tr:hover {
      background-color: rgb(56, 159, 255);
  }
  
  #table-anchor {
      text-decoration: none;
  }
  #table-anchor:visited {
      color: #ffffff;
  }
  /* Styles the bottom bar */
  ul.bot_nav {
      width:100%;
      margin:0 auto;
      padding:0;
      list-style:none;
      background-color:#010102;
      text-align:center;
      font-family: sans-serif; 
  }
  .bot_nav li { 
      display:inline-block;
      width:33%;
      margin:0;
      padding:0;
  }
  .bot_nav p {
      text-align:center;
      padding:12px 0 13px 0;
      margin:0;
  
      display:block;
  }
  .bot_nav li:hover { 
      background:#3282b8;
      
  }
  
  #p1 {
      font-size: larger;
      color: white;
      text-align: center;
  }
  td {
      color: white;
  }
    #l {
        color: white;
    }
  /* Add Button */
  
  #container {
      width: 100%;
      margin: 0 auto;
      padding: 50px 0 150px 0;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
    .button1 {
      display: inline-flex;
      height: 40px;
      width: 150px;
      border: 2px solid #00e25e;
      background-color: rgb(27, 71, 45);
      margin: 20px 20px 20px 20px;
      color: #BFC0C0;
    border-radius: 222px;
      text-decoration: none;
      font-size: 16px;
   
      padding: 15px 32px;
      letter-spacing: 1.5px;
      align-items: center;
      justify-content: center;
      overflow: hidden;
    }
    
    #button-text {
      color: #ffffff;
      font-size: 16px;
      text-decoration: none;
      letter-spacing: 1px;
      text-align: center;
      z-index: 100; 
      font-family: Verdana;
    }
  
    #button-anchor {
      font-family: Verdana;
      text-decoration: none;
    }
  
    
    #button-3 {
      position: relative;
      overflow: hidden;
      cursor: pointer;
    }
    
    #button-3 a {
      position: relative;
      transition: all .45s ease-Out;
    }
    #button-3 input {
      position: relative;
      transition: all .45s ease-Out;
    }
    input[type=submit] {
      padding: 5px 15px;
      background-color: Transparent;
      border: 0 none;
      cursor: pointer;
      -webkit-border-radius: 5px;
      border-radius: 5px;
    }
    
    #circle {
      width: 0%;
      height: 0%;
      opacity: 0;
      line-height: 40px;
      border-radius: 50%;
      background: #257c7c;
      position: absolute;
      transition: all .5s ease-Out;
      top: 20px;
      left: 70px;
    }
  
    
    #button-3:hover #circle {
      width: 200%;
      height: 500%;
      opacity: 1;
      top: -70px;
      left: -70px;
    }
    
    #button-3:hover a {
      color: #2D3142;
    }
    #button-3:hover input {
      color: #2D3142;
    }